<!-- <div class="w3-container">
    <h1 class="w3-center">Madlibs</h1>
    <app-listen *ngIf="speech.speechSupported"></app-listen>
</div> -->

<h1>Speech Recognition</h1>
<!-- <p>Tap/click then say a color to change the background color of the app.</p>
<div class="hints">
  <span *ngFor="let color of hints" class="w3-{{color}}" style="background-color: {{color}}">
    {{color}}
  </span>

</div> -->
<div>
  <p class="output"><em> Displaying Output {{diagnostic}}</em></p>
  <button class="startButton" id="startButton">Start Listening</button>
  <button class="stopButton" id="stopButton">Stop Listening</button>
</div>